body{
    background-color: #0c3763;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    color: white;
}

ul .materias{
    color: red;
}

.semana{
    color: black;
    background-color: yellow;
    border-style:groove;
}
.subtitulo{
    color: yellow;
}


